# Python编译文件
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

DDTI
*.zip

# 忽略数据文件
dogs-vs-cats-redux-kernels-edition/*
!dogs-vs-cats-redux-kernels-edition/.gitkeep

# 忽略模型权重文件
ckpt/*
!ckpt/.gitkeep

submission.csv

